body {
    margin: 0;
    background: black;
    overflow: hidden;
    font-family: monospace;
}

/* BOOT SCREEN */
#boot {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    z-index: 999999;
}

#bootText {
    animation: flicker 0.15s infinite;
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

/* SYSTEM HIDDEN UNTIL BOOT FINISH */
#system {
    opacity: 0;
    transition: opacity 1s ease;
}

/* SCREEN */
#screen {
    width: 512px;
    height: 342px;
    background: white;
    border: 4px solid black;
    position: relative;
    overflow: hidden;
    margin: auto;
}

/* MENU BAR */
#menubar {
    height: 22px;
    border-bottom: 2px solid black;
    padding-left: 6px;
    line-height: 22px;
}

/* ICONS */
.icon {
    width: 70px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.icon span {
    display: block;
    font-size: 11px;
}

/* WINDOWS */
.window {
    position: absolute;
    width: 220px;
    border: 2px solid black;
    background: white;
    display: none;
}

.titlebar {
    height: 20px;
    background: repeating-linear-gradient(
        90deg,
        black 0px,
        black 2px,
        white 2px,
        white 4px
    );
    cursor: move;
    text-align: center;
    line-height: 20px;
}

/* TRASH */
#trash {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* CURSOR */
#cursor {
    position: fixed;
    width: 14px;
    height: 14px;
    background: black;
    clip-path: polygon(0 0,100% 50%,60% 60%,70% 100%,50% 100%,40% 60%,0 0);
    pointer-events: none;
    z-index: 99999;
}
